<head>
    <title>navarjun</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <nav class="nav">
        <div class="container">
            <div class="nav-brand">
                <a href="/">Lost Strider</a>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
