---
---

@import "./vars.scss";

.nav {
    height: 84px;
    background: $cl-white;
    border-bottom: solid 1px $cl-lightest;
    margin-bottom: 48px;
    .nav-brand {
        font-family: $font-brand;
        font-size: 30px;
        float: left;
        height: 100%;
        display: flex;
        align-items: center;
        a {
            color: $cl-darkest;
            text-decoration: none;
        }
    }
    
    .nav-list {
        margin: 0px;
        list-style: none;
        float: right;
        height: 100%;
        display: flex;
        align-items: center;
        li {
            display: inline-block;
            a {
                color: $cl-darkest;
                text-decoration: none;
                transition: color 0.1s;
                &:hover {
                    color: $cl-lighter;
                }
            }
        }
    }
}

.travel-journal {
    @extend .container;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: $bkpt-sm) {
        justify-content: center;
    }

    .card {
        width: 249px;
        margin: 24px 8px;
        @mixin maxWidth($bkpt-xl) {
            width: 216px;
        }
        @mixin maxWidth($bkpt-lg) {
            width: 216px;
        }
        @mixin maxWidth($bkpt-md) {
            width: 246px;
        }
        @mixin maxWidth($bkpt-sm) {
            width: 100%;
        }
        div.img {
            width: 249px;
            height: 311px;
            background: lightgray;

            @mixin maxWidth($bkpt-xl) {
                width: 216px;
            }
            @mixin maxWidth($bkpt-lg) {
                width: 216px;
            }
            @mixin maxWidth($bkpt-md) {
                width: 246px;
            }
            @mixin maxWidth($bkpt-sm) {
                width: 100%;
            }
        }
        h6 {
            @extend .font-body-light ;
            text-transform: uppercase;
            margin-top: 16px;
            margin-bottom: 0px;
            font-size: 12px;
        }
        h2 {
            margin-bottom: 0px;
            margin-top: 8px;
            font-size: 18px;
            height: 72px; // allows 3 lines for the heading
        }
    }
}


