
@import "./mixins.scss";

@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:700|Open+Sans:400,700&display=swap');

$font-brand: 'Source Serif Pro', serif;
$font-title: 'Source Serif Pro', serif;
$font-body: 'Open Sans', sans-serif;

$bkpt-xl: 1200px;
$bkpt-lg: 992px;
$bkpt-md: 768px;
$bkpt-sm: 576px;

$cl-darkest: #333;
$cl-lighter: #bbb;
$cl-lightest: #eee;
$cl-almost-white: #f9f9fc;
$cl-white: #fff;

html, body {
    margin: 0px;
    padding: 0px;
    font-family: $font-body;
    background: $cl-almost-white;
}


.container {
    margin: auto;
    width: 1140px;
    @include maxWidth($bkpt-xl) {
        width: 960px;
    }
    @include maxWidth($bkpt-lg) {
        width: 720px;
    }
    @include maxWidth($bkpt-md) {
        width: 540px;
    }
    @include maxWidth($bkpt-sm) {
        width: 100%;
    }
}

.font-body-light {
    font-family: $font-body;
    font-weight: 300;
}