<html>
    {% include header_top.html %}
    <div class="travel-journal">
        <div class="card">
            <div class="img"></div>
            <h6>Kathmandu, Nepal</h6>
            <h2>The Lake of Snakes</h2>
        </div>


        <div class="card">
            <div class="img"></div>
            <h6>Kathmandu, Nepal</h6>
            <h2>The Lake of Snakes</h2>
        </div>


        <div class="card">
            <div class="img"></div>
            <h6>Kathmandu, Nepal</h6>
            <h2>The Lake of Snakes</h2>
        </div>


        <div class="card">
            <div class="img"></div>
            <h6>Kathmandu, Nepal</h6>
            <h2>The Lake of Snakes</h2>
        </div>

        <div class="card">
            <div class="img"></div>
            <h6>Kathmandu, Nepal</h6>
            <h2>The Lake of Snakes</h2>
        </div>


        <div class="card">
            <div class="img"></div>
            <h6>Kathmandu, Nepal</h6>
            <h2>The Lake of Snakes</h2>
        </div>


        <div class="card">
            <div class="img"></div>
            <h6>Kathmandu, Nepal</h6>
            <h2>The Lake of Snakes</h2>
        </div>


        <div class="card">
            <div class="img"></div>
            <h6>Kathmandu, Nepal</h6>
            <h2>The Lake of Snakes</h2>
        </div>
    </div>
</body>
</html>